---
const { crumbs } = Astro.props;
---

<nav aria-label="Breadcrumb" class="text-sm mb-4">
  <ol class="list-none p-0 inline-flex">
    <li class="flex items-center">
      <a href="/" class="text-blue-600 hover:text-blue-800">Home</a>
      <svg class="fill-current w-1.5 h-1.5 mx-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/></svg>
    </li>
    {crumbs.map((crumb, index) => (
      <li class="flex items-center">
        {index === crumbs.length - 1 ? (
          <span class="text-gray-500">{crumb.title}</span>
        ) : (
          <>
            <a href={crumb.href} class="text-blue-600 hover:text-blue-800">{crumb.title}</a>
            <svg class="fill-current w-1.5 h-1.5 mx-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/></svg>
          </>
        )}
      </li>
    ))}
  </ol>
</nav>